@media screen and (max-width:576px) {

    .nav-container,
    .logo-container,
    .menu-container,
    .banner-section {
        flex-direction: column;
    }

    .menu-container {
        width: 100%;
        gap: 20px;
    }
   .banner-text-section, .banner-text-section-1 {

    width: 100%;
    padding: 50px;      
    text-align: center;
        
}
    

.banner-image-section img  {
    width: 100%;
padding: 0 0 0  80px;
   
}
.banner-image-section-1 img {
    width:80%;
    
}

.banner-text-section h3  {
        font-size: 30px;

        margin-bottom: 50px;
    }

    .banner-text-section h1 {
        font-size: 40px;
       margin-bottom: 30px;

    }

    .banner-text-section p {

        font-size: 12px;

        margin-top: 20px;
    }

    .btn-2 {
        padding: 10px 22px;
        margin-top: 20px;
        margin-right: 10px;
        font-size: 12px;
    }

    .btn-3 {

        padding: 10px 22px;
        font-size: 12px;
    }

    .banner-image-section {
        width: 100%;
   

    }
    .banner-section-1{
        flex-direction: column-reverse;
    }
    .banner-text-section-1 {
  
        width: 100%;
        text-align: center;
        padding: 80px;
    }
    
    .banner-text-section-1 h3 {
        font-size: 30px;
        
       
    }
    
    .banner-text-section-1 p {
       
     font-size: 12px;
    
    }
    
.banner-image-section-1 {
    width: 100%;

}
    
    .banner-text-section-1 .p-1
    {
     font-size: 20px;
    }

    .image-section{
        padding: 40px;
    }

   .image-text-section h3{
   
    font-size: 30px;
   
}
 .funney{
  font-size: 30px;
  
}
.image-text-section p{
    
  font-size: 15px;
  
 }
.image-pic-section{
  padding: 40px;
   margin-top: 30px;
   flex-direction: column;

}
.play-btn{
   
    width: 100%;
   
}

.play-btn .youtube{
   
    font-size: 30px;
    
}
.play-btn .watch{
font-size: 20px;
top: 35%;
left: 20%; 
}

.position-section{
    flex-direction: column;
   
    margin-top: 20px;

}
.position-text-section{
    width: 100%;
    text-align: center;
   padding-right: 30px; 
}
.position-text-section .play{
   font-size: 30px;
   
}
.position-text-section h3{
    
    font-size: 30px;
   
   }
.position-text-section p {
   
    font-size: 12px;
   padding-left: 10px;
   margin-top: 25px;
  }
.position-pic-section{
 width: 100%;

 padding-left: 80px;
}
.position-pic-section img{
    width: 80%;
}


.position-pic-section .img-2{
    width: 30%;
    position: absolute;
    top: 60%;right: 70%;

}
.position-section-1{
    flex-direction: column-reverse;
}
.position-text-section-1{
    width: 100%;
    text-align: center;
  
   padding-left: 25px;
   

}
.position-text-section-1 .play-1{
   font-size: 30px;
   font-weight: 700;
   background: linear-gradient(180deg, #F948B2 0%,
     #8758F1 100%);
   background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.position-text-section-1 h3{
    color: #0B0223;
    font-size: 30px;
    font-weight: 700;
   }
.position-text-section-1 p{
   
    font-size: 12px;
    padding-right: 15px;
   margin-top: 10px;
   margin-bottom: 30px;
  }
.position-pic-section-1{
 width: 100%;

 padding-left: 50px;
}


.position-pic-section-1 .img-4{
    width: 25%;
    position: absolute;
    top: 70%;
    left: 80%;

}

.grid-container-1{ 
 
    padding: 50px 60px ;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
   }
   .grid-container-1 .games p{

   font-size: 10px;
}


.grid-container-1 img{
    width: 35%;
    height: 30%;
    object-fit: cover;
}



.logo-footer{
    flex-direction: column;
 

}
.logo-footer img{
    width: 50px;
    height: 20px;
    margin-top: 30px;
}

.logo-footer h3{
    color: #FFF;
    font-size: 25px;
    font-weight: 700;

}
.menu-footer ul{
   
    flex-direction: column;
    gap: 20px;
}
.menu-footer li a{
  
  font-size: 20px;
}

.icons-footer{
  
    font-size: 30px;
    margin-left:15%;
   padding: 30px 0;
   word-spacing: 5px;
}
.list-footer ul {
    flex-direction: column;
   gap: 10px;
}
}